In [ ]:
#learn to code
#step by step
# mark out code by putting a hashtag # in front of it.

# 'words' "cookup"

# stack overflow is your best friend.

# print = show me something lil bra

# variable = storage box, holds the value you want to pull out with print

box_8973 = 'all my cables' # string = sentence
chapstick = 'burts bees'

print(box_8973)
print(chapstick)

all my cables
burts bees

In [ ]:
# BOOLEANS - True or false
# types of things that are true or false

answer = 30 > 4
print(answer)

True

In [ ]:
# numbers in python
# 2 types
# 1. Integer == whole number no decimals
# 2. Float == not a whole number has decimals 45.4, 65.8

number = 56.45
# turn floats to integers
num2 = int(number)
print(num2)

<class 'float'>

In [ ]:
# counting in python
# 0, 1, 2, 3, 4, 5

count = 'fun'
print(count[0])

f

In [ ]:
# importing things in python / import package
# import modules
import math

# math in python , + - * / **
math_box = 34.45 ** 3
print(math_box)

40885.34612500001

In [ ]:
# sentences = strings
sentence = "hey this is my sentence"
print(sentence)

#slicing sentences
half = sentence[10:]
print(half)

hey this is my sentence
s my sentence

In [ ]:
# variables = boxes to store stuff

#lists = list of things to store
numb = 56
sentence = "this is a string"

#lists
mylist = [numb, sentence, 'hey, hey', 67.34]
# command + shift + <
# print(mylist[3]) # = command + /

# dictionary - key & value
my_dictionary = {'name': 'moon', 'age': '30',
                'fav_food':'pizza', 'location':'earth'}
print(my_dictionary['age'])

30

In [ ]:

sentence_1 = 'hey whats up'
sent_2 = 'yo yo yo'
number1 = 45 # integer
number2 = 56.56 # float
sent_3 = 'hello moto'

# if, elif, else
# if statement = do something if true
# or else (elif) = do something else
# or else (else) = final thing to do is this

if number1 > number2: # false so it will go on the else if
  print(sentence_1)
elif number1 == number2: # == when checking t/f, != (not equal) , >= (great) , <=(less)
  print(sent_2)
elif number1 >= number2:
  print(sent_3)
else: # fail safe, do this if all else false
  print('this is a fail safe')
# if its saturday == do chores

# chores - clean bathroom, kitchen, bedroom

this is a fail safe

In [ ]:
# indexing - getting things out of your list
mylist = [numb, sentence, 'hey, hey', 67.34]
print(mylist[-1])

#going fwd 0,1,2,3
#going bck -1,-2,-3

67.34

In [ ]:
# loops
# while loops and for loops
# while loops - 2 hours to play vid games , your in a while loop until the 2hrs is up

hours = 2

# while loops - loop until false.
# while hours < 2.1:
#   print('play video games')
#   hours = (hours + .5)

# for loops - loop until a condition is fulfilled
listy = [23.45, 45, 'hey there']

#when using for loops the first word after for can be anything
# for zzz in listy:
#   print(zzz)


for x in range(10):
  print(x)

23.45
45
hey there
0
1
2
3
4
5
6
7
8
9

In [ ]:
# functions - variables, lists, dictionaries
# 20 variables, 6 lists, 10 dicitonaries

#use def for a function then the name of func
def storage_unit():

  shoes = 'jordans'
  game = 'zelda'
  age = 27
  gpa = 3.29

  mylist = [shoes, game, age, 'hey there']


  return shoes, mylist
# returning allows use in other parts of the code

# mylist = storage_unit()[1]
# print(mylist[-2])

# 1:58:54 in Moon dev vid.

27

In [9]:
# pass in information into a function

torta = 'toyota'

# function
def passing(torta=torta): # if argument has = then theres a default.


  num = 67

  print(torta)

passing() # goes default
# if u pass in it will concatenate

toyota

In [11]:
# google sheets. excel == PANDAS
# package/module/

import pandas as pd # get app called pandas
# and let me know use it by typing pd

df = pd.read_csv('/content/SOLANA.csv')
print(df)

# time series data - is just data over the course of time
# data that changes every day
# weather, sporting events, ticket sales, advertising spend, clicks, funnels

           Start         End        Open        High         Low       Close  \
0     2025-04-16  2025-04-17  126.359700  133.347800  123.745200  131.628700
1     2025-04-15  2025-04-16  128.982500  134.307000  126.275900  126.275900
2     2025-04-14  2025-04-15  128.393600  135.623400  128.393600  129.396300
3     2025-04-13  2025-04-14  132.457400  133.379400  125.844900  128.508100
4     2025-04-12  2025-04-13  121.244700  133.669200  119.748600  132.219200
...          ...         ...         ...         ...         ...         ...
1820  2020-04-22  2020-04-23    0.574514    0.699509    0.571206    0.682635
1821  2020-04-21  2020-04-22    0.538978    0.602115    0.507988    0.573964
1822  2020-04-20  2020-04-21    0.608310    0.636288    0.522787    0.539100
1823  2020-04-19  2020-04-20    0.674510    0.682019    0.596405    0.603445
1824  2020-04-18  2020-04-19    0.656816    0.720087    0.656780    0.679663

            Volume    Market Cap
0     9.108312e+09  6.581630e+10
1     8.789084e+09  6.719558e+10
2     1.095403e+10  6.792523e+10
3     1.003561e+10  6.701570e+10
4     9.484679e+09  6.524144e+10
...            ...           ...
1820  1.392536e+07  0.000000e+00
1821  8.407789e+06  0.000000e+00
1822  8.982139e+06  0.000000e+00
1823  1.026390e+07  0.000000e+00
1824  9.926508e+06  0.000000e+00

[1825 rows x 8 columns]

In [19]:
#if u want first 50 rows
# first_50 = df.head(50)
# print(first_50)

# if you want last 50
# last_50 = df.tail(50)
# print(last_50)

#slicing
# print(df[0:100])
# print(df[-20:])

# print(df['Close'])

#this will set it as a variable
close_df = df[['Close']]
# print(close_df)

In [23]:
# how to access a value out of one column
# build a new dataframe based off a condition
df_70 = df.loc[df['Close'] <= 70]
print(df_70)

           Start         End       Open       High        Low      Close  \
491   2023-12-12  2023-12-13  71.018100  72.315300  66.136400  68.770300
496   2023-12-07  2023-12-08  61.752900  69.238400  61.752900  67.870500
497   2023-12-06  2023-12-07  61.518800  66.402000  61.518800  61.932800
498   2023-12-05  2023-12-06  61.300800  62.332400  59.244800  60.950400
499   2023-12-04  2023-12-05  63.046800  65.183100  60.368900  61.549100
...          ...         ...        ...        ...        ...        ...
1820  2020-04-22  2020-04-23   0.574514   0.699509   0.571206   0.682635
1821  2020-04-21  2020-04-22   0.538978   0.602115   0.507988   0.573964
1822  2020-04-20  2020-04-21   0.608310   0.636288   0.522787   0.539100
1823  2020-04-19  2020-04-20   0.674510   0.682019   0.596405   0.603445
1824  2020-04-18  2020-04-19   0.656816   0.720087   0.656780   0.679663

            Volume    Market Cap
491   5.997655e+09  2.982762e+10
496   5.239261e+09  2.746186e+10
497   5.637848e+09  2.706890e+10
498   3.966743e+09  2.572275e+10
499   3.926505e+09  2.654064e+10
...            ...           ...
1820  1.392536e+07  0.000000e+00
1821  8.407789e+06  0.000000e+00
1822  8.982139e+06  0.000000e+00
1823  1.026390e+07  0.000000e+00
1824  9.926508e+06  0.000000e+00

[1066 rows x 8 columns]

In [25]:
date_of_61 = df.loc[df['Close'] == 61.549100, 'End']. values[0]
print(date_of_61)

2023-12-05